.util {
  &-center-text {
    text-align: center;
  }

  &-margin-bottom-big {
    margin-bottom: 8rem;
  }

  &-margin-bottom-med {
    margin-bottom: 4rem
  }

  &-margin-bottom-small {
    margin-bottom: 1.5rem;
  }

  &-margin-top-big{
    margin-top: 10rem;
  }
}
