.navigation {
  &__checkbox {
    display: none;

  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 4000;
    text-align: center;
    cursor: pointer;

    @include respond(tablet-portrait) {
      top: 4rem;
      right: 4rem;
    }

    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    backface-visibility: hidden;
    z-index: 1000;
    box-shadow: 0 1rem 3rem rgba($color-black, .1);

    // custom transition timing fucnctions using cubic-bezier.
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

    @include respond(tablet-portrait) {
      top: 4.5rem;
      right: 4.5rem;
    }

    @include respond(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__clicked {
    transform: scale(80);

  }

  &__main {
    height: 100vh;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    // to remove and hide navigation links
    opacity: 0;
    width: 0;

    transition: all .8s;

    &-isChecked {
      display: none;
    }
  }



  &__list {
    // @include centerVertical;
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item{
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 200;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 1rem 2rem;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 230%;
      transition: all .4s;

      &:hover,
      &:active {
        background-position: 100%;
        color: $color-primary-dark;
        transform: translateX(1rem);
      }
    }

  }

  // FUNCTIONALITY
  &__checkbox:checked ~ &__background {
      transform: scale(80);
  }

  &__checkbox:checked ~ &__main {
      opacity: 1;
      width: 100%;
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark;
      display: inline-block;

    }

    // in order for before/after pseudo elements to actually appear, content property must be defined
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before { top: -1rem }
    &::after { top: 1rem }
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before{
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}

// Custom CSS with Javscript
.nav {
  &__backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    backface-visibility: hidden;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    transition: all 0.3s ease-out;


    &-show {
      opacity: 1;
      z-index: 100;
    }

    &-hide {
      opacity: 0;
    }
  }

  &__content {
    position: relative;
    @include centerVertical;

    &-show {
      opacity: 1;
      visibility: visible;
      z-index: 100;
    }

    &-hide {
      opacity: 0;
      visibility: hidden;
    }
  }


}

.nav__icon {
  position: relative;
  margin-top: 3.5rem;

  &,
  &::before,
  &::after {
    width: 3rem;
    height: 2px;
    background-color: $color-grey-dark;
    display: inline-block;

  }

  // in order for before/after pseudo elements to actually appear, content property must be defined
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all .2s;
  }

  &::before { top: -1rem }
  &::after { top: 1rem }
}

.nav__icon {
  background-color: transparent;
}

.nav__button .nav__icon::before{
  top: 0;
  transform: rotate(135deg);
}

.nav__button .nav__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
