/**************************
ABOUT
**************************/
.section-about {
  background-color: $color-grey-light;
  padding: 25rem 0;
  margin-top: -20vh;

  @include respond(tablet-portrait) {
    padding: 20rem 0;
  }
}


/**************************
FEATURES
**************************/
.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
    to left bottom,
    rgba(126, 213,111,0.8),
    rgba(40, 180,131,0.8)),
    url('../../../assets/img/nat-4.jpg');
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  // selects every direct child.
  & > * {
    transform: skewY(7deg);
  }

  @include respond(tablet-portrait) {
    padding: 10rem 0;
  }
}

/**************************
PRICING
**************************/
.section-pricing {
  background-color: $color-grey-light;
  padding:  25rem 0 15rem 0;
  margin-top: -10rem;

  @include respond(tablet-portrait) {
    padding: 20rem 0 5rem 0;
  }
}

/**************************
REVIEWS
**************************/
.section-reviews {
  padding: 15rem 0;
  position: relative;

  @include respond(tablet-portrait) {
    padding: 10rem 0;
  }
}
