@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0; }
  100% {
    visibility: visible;
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  /* font-size: 1rem; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.util-center-text {
  text-align: center; }

.util-margin-bottom-big {
  margin-bottom: 8rem; }

.util-margin-bottom-med {
  margin-bottom: 4rem; }

.util-margin-bottom-small {
  margin-bottom: 1.5rem; }

.util-margin-top-big {
  margin-top: 10rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.card {
  cursor: pointer;
  position: relative;
  height: 40rem;
  perspective: 150rem;
  -moz-perspective: 150rem; }
  .card__side {
    height: 45rem;
    transition: all .8s ease;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-radius: 0.3rem; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../../../assets/img/nat-5.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../../../assets/img/nat-5.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../../../assets/img/nat-5.jpg"); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    position: relative;
    z-index: 10; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 0.1rem solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 5rem;
    font-weight: 100; }

.btn:link, .btn:visited {
  font-size: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  display: inline-block; }

.btn:hover {
  transform: translateY(-0.3rem);
  -moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  transition: all .4s; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-image: linear-gradient(to left bottom, #7ed56f, #28b485);
  color: #fff; }
  .btn--green::after {
    background-image: linear-gradient(to left bottom, #7ed56f, #28b485); }

.btn-text:link, .btn-text:visited {
  color: #32CD32;
  text-decoration: underline;
  display: inline-block;
  padding: .3rem;
  font-size: 1.6rem;
  transition: all .4s;
  padding: 1rem; }

.btn-text:hover {
  color: #fff;
  background-color: #32CD32;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0.2rem);
  border-radius: 3px; }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  opacity: .20;
  overflow: hidden; }
  .background-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.review {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: .3rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .review__shape {
    width: 15rem;
    height: 15rem;
    background-color: orangered;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    float: left;
    transform: translateX(-3rem) skewX(12deg); }
  .review__img {
    height: 100%;
    backface-visibility: hidden;
    transform: translateX(-4rem) scale(1.4);
    transition: all .5s; }
  .review__text {
    transform: skewX(12deg); }
  .review__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .review:hover .review__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .review:hover .review__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(0.3rem) brightness(90%); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;
    cursor: pointer; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #32CD32;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.header {
  height: 95vh;
  background-image: linear-gradient(to left bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url("../../../assets/img/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-container {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__heading-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .header__heading-container a {
      animation: 2s ease-out 2s backwards fadeIn; }

.heading {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1rem;
    animation: moveInUp 2s ease-out;
    backface-visibility: hidden;
    /*
      animation-timing-function: ease-in; starts slow and accelerate over time.
      animation-duration: 2s;
      animation-timing-function: ease-out;
      animation-iteration-count: 3
      animation-delay: 3s
    */ }
  .heading-sub {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation: 2s ease-out 2s backwards fadeIn; }
